<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go-Cloth</title>
    <link href="env/bootstrap-4.5.0/dist/css/bootstrap.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link href="env/css/product.css" rel="stylesheet">
</head>

<body>
    <div class="wraper">
        <div class="jumbotron jumbotron-fluid  bg-transparent">
            <div id="video-viewport">
                <video autoplay muted loop>
                    <source src="/env/img/tetra bkg.mp4" />
                </video>
            </div>
            <div class="wcontainer" id="logo-jumbo">
                <section class="jumbotron text-center big-banner" style="opacity: 0.8;">
                    <div class="container">
                        <div id="notif-result"></div>
                        <h1>Spirit Deer</h1>
                        <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                            data-target="#LogInPage">LogIn</button>
                        <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                            data-target="#SignUpPage">SignUp</button>
                        </p>
                    </div>
                </section>
            </div>
            <div id="SignUpPage" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Sign Up</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="notif-up-success"></div>
                            <form id="signupform">
                                <div class="form-group">
                                    <label for="UsernameUp">Username</label>
                                    <input type="text" class="form-control" id="UsernameUp" placeholder="Username"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="PasswordUp">Password</label>
                                    <input type="password" class="form-control" id="PasswordUp" placeholder="Password"
                                        required>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="signup_send" type="button" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="LogInPage" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Log In</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="notif-in-success"></div>
                            <form id="loginform">
                                <div class="form-group">
                                    <label for="UsernameIn">Username</label>
                                    <input type="text" class="form-control" id="UsernameIn" placeholder="Username"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="PasswordIn">Password</label>
                                    <input type="password" class="form-control" id="PasswordIn" placeholder="Password"
                                        required>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="login_send" type="button" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="env/lib/jquery-3.5.1.js"></script>
    <script src="env/bootstrap-4.5.0/dist/js/bootstrap.js"></script>
    <script src="env/js/video.js"></script>
    <script src="env/js/login.js"></script>
    <script>window.jQuery || document.write('<script src="../env/bootstrap-4.5.0/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="../env/bootstrap-4.5.0/dist/js/bootstrap.bundle.js"></script>
</body>
</body>

</html>